@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Knot Your Average Ties</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Knot Your Average!</h2>
        <p>
            Knot Your Average is the leading custom and unique tie manufacturer in the US.  We specialize in ties that stand out from the average.  We custom print
            any type of tie, and carry thousands of unique ties to fit any occassion.  
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Custom Ties</h2>
        <p>Find out how to get your one of a kind tie!</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Unique Ties</h2>
        <p>We carry hundreds of unique tie styles, that are sure to make you stand out at work.  Let your tie start the conversation!</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>